@import url("https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: black;
}
